@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  background-color: #000000;
  color: #ffffff;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #39FF14;
}
